@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #f5f3f0;
}

ul {
  list-style: square;
  padding: 10px;
  margin-left: 15px;
  line-height: 30px;
}

button {
  margin: 15px 0;
  padding: 10px 30px;
  border-radius: 7px;
  background-color: #c56c76;
  color: #f5f3f0;
  font-size: 15px;
  font-weight: 400;
}

a {
  color: #c56c76;
}

header {
  background: rgb(92, 92, 106) url(./img/background.jpg) no-repeat center center;
  height: 120px;
  width: 100%;
  text-align: center;
}

/*  Header styling and alignment  */
.header-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  text-align: center;
  display: block;
  margin: auto;
  color: #e6e8e3;
}

.header-content p {
  padding: 10px;
}

.header-content img {
  max-width: 450px;
  height: auto;
}

.info-heading {
  margin: 10px auto;
  padding-left: 10px;
  width: 90%;
  max-width: 1000px;
  color: #5c626a;
  font-weight: 900;
}

.talk-heading {
  color: #5c626a;
}

.talk-info-container {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  color: #797166;
}

.talk-info-cards-container {
  display: flex;
  flex-direction: column;
}

.speaker-overview {
  margin: 10px;
}

.info-card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #dddddd;
  max-width: 500px;
  background-color: #ffffff;
}

.info-card p {
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
}
