@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #f5f3f0;
}

ul {
  list-style: square;
  padding: 10px;
  margin-left: 15px;
  line-height: 25px;
}

.button {
  margin: 15px 0;
  padding: 10px 30px;
  border-radius: 7px;
  background-color: #c56c76;
  color: #f5f3f0;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

a {
  color: #c56c76;
}

/*  Header styling and alignment  */
header {
  background: rgb(92, 92, 106) url(./img/background.jpg) no-repeat center center;
  height: 150px;
  width: 100%;
  text-align: center;
}

.header-content {
  display: block;
  flex-direction: row;
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 5px;
  color: #e6e8e3;
}

.header-content p {
  padding: 10px;
}

.header-content img {
  max-width: 450px;
  height: auto;
}

/* Speaker Info Container and Cards */
.speaker-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 90%;
  max-width: 1000px;
}

.speaker-card {
  width: 45%;
  padding: 10px;
  margin: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 2px #5c626a;
}

.speaker-image {
  height: 100%;
  width: 25%;
  border-radius: 5px;
}

.speaker-id-container {
  display: flex;
}

.speaker-name-link-container {
  padding: 0 10px;
}

.speaker-name,
.speaker-description {
  color: #797166;
  padding-top: 5px;
  font-size: 0.9em;
}

.speaker-description {
  margin-top: 10px;
  line-height: 25px;
}

.speaker-info-card {
  margin: 20px 0;
  padding: 10px;
  line-height: 15px;
}

.talk-name {
  color: #5c626a;
  font-weight: 900;
}

.info-heading {
  margin: 10px auto;
  padding-left: 10px;
  width: 90%;
  max-width: 1000px;
  color: #5c626a;
  font-weight: 900;
  text-align: center;
}

/* Footer Styling */
footer {
  padding-bottom: 200px;
  height: 150px;
  background-color: #5c626a;
  color: #cbcbd0;
}

.footer-info-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  font-size: 0.8em;
}

.footer-em {
  font-size: 0.8em;
}

.footer-info {
  padding: 20px 10px;
  line-height: 20px;
}

.uie-image-container {
  display: flex;
  justify-content: center;
}

.uie-image {
  margin: 0 auto;
  max-height: 70px;
  padding: 5px;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 905px) {
  .speaker-card-container {
    justify-content: center;
    width: 100%;
  }

  .speaker-card {
    width: 40%;
  }
}

@media only screen and (max-width: 660px) {
  .header-content img {
    max-width: 300px;
  }

  .talk-info-container {
    display: block;
  }

  .speaker-card-container {
    margin-bottom: 30px;
  }

  .speaker-card {
    width: 100%;
  }

  footer {
    height: 300px;
  }

  .footer-info-container {
    display: block;
  }
}
